

.note-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 1rem;
    border: 2px solid;
    border-radius: 10px;
    border-color: rgb(215, 124, 45);
    padding: 20px;
    width: 100%;
    background-color: rgb(240, 240, 240);
}
.submit-container{
    width: 80%;
    height: 100%;
}

h4
{
    font-family: 'Roboto', sans-serif;
}

label
{
    font-family: 'Roboto', sans-serif;
    font-size: medium;
}

textarea
{
    font-family: 'Roboto', sans-serif;
    font-size: small;
    width: 100%;;
}

select{
    height: 30px;
    width: 30%
}

#add{
    background-color: rgb(215, 124, 45);
}